<%- include('header'); -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">

<!--need to fix css to make borderline at the bottom-->
  <% newListItems.forEach(function(item) { %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="deletingItem" value="<%=item._id%>"onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
    </form>
  <% }); %>

  <form class="item" id="newItemSection" action="/" method="post"><!--need to fix just going to "/"-->
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>

</div>

<%- include('footer'); -%>
